.column1,.column2,.column3,.column1-2wide,.column1-2wide .column1,.column1-2wide .column2 {
	float:none;
	clear:both;
	display:block;
	width:100%;
	position:relative}
.maincontainer, .container {
	width: 100%;
	margin: 0px;
	padding: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px; 

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.ribbon-wrapper-yellow, .ribbon-yellow {
	display:none;
	}
.story {
	margin:0;
	padding: 0.5em 1em 0.5em 1em;
	border-top: solid 1px #000;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px; 
          transition: none;
     -moz-transition: none;
  -webkit-transition: none;
       -o-transition: none;
	opacity:1;
	}
h4 {
	font-weight:700;
	}
h3 {
	display:none;
	}
.pdfLink {
	display:none;
	}
.readmore {
	font-size:100%;
	float:none;
	margin-left: 1em;
	}
	
#main2 {
	display:none;
	}
