		@media only screen and (max-device-width : 480px) {
			p {
			  font-size:18px;
			  line-height:24px;
			}
			.supp {
			  font-size: 70%;
			  line-height:normal;
			  position:relative;
			  top:-6px;  
			}
			h5 {
			  font-size: 30px;
			  margin-bottom: 10px;
			  clear:both;
			  font-style: normal;
			  line-height:1.1em;
			}
			h1 {
			  font-size: 50px;
			}
			h3 {
			  font-size: 30px;
			}
			h4 {
			  font-size: 30px;
			}
			.title_line {
			  font-size: 15px;
			}
			.scholar_links {visibility: hidden}
			.story {width: 100%}
			.novelty {
			  font-size: 20px;
			  font-style: italic;
			  color: #006DC1;
			}
		}
